.card1:hover {
	background: #01bbf0	;
	border: 1px solid #01bbf0;
}

.card2:hover {
	background: #db271c;
	border: 1px solid #db271c;
}

.card3:hover {
	background: #0a2668;
	border: 1px solid #0a2668;
	color: white;
}

.card4:hover {
	background: #f58131;
	border: 1px solid #f58131;
}

.card5:hover {
	background: #b8d533;
	border: 1px solid #b8d533;
}

.card6:hover {
	background: #22387d;
	border: 1px solid #22387d;
	color: white;
}
.card:hover .btn-outline-dark {
	color: white;
	background: #212529;
}

